.Home {
  padding: 2em 1rem;
  text-align: center;

  &__social {
    font-size: 1.2rem;
  }

  &__title {
    margin: 3rem 0;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
