@import "./variables";

.button {
  border: .3rem solid $black;
  box-shadow: 0 0 .1rem;
  font-family: $secondary-font;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  max-width: 10rem;
  padding: .5rem 1rem .2rem;
  text-decoration: none;
  transition: box-shadow .3s ease-in-out;

  &:hover {
    box-shadow: .3rem .3rem .1rem;
  }
}
