@import "../../../styles/variables";

.SlideList {
  padding: 2em 1rem;
  text-align: center;

  &__wrapper {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
    margin: 3rem 0;
  }

  &__item {
    border: .1rem dashed $black;
    font-family: $secondary-font;
    font-weight: 600;
    text-align: center;

    a {
      display: block;
      height: 100%;
      padding: 1.3rem 0;
      text-decoration: none;
    }
  }

  &__link {
    text-align: center;
  }
}
